<mat-toolbar id="nav">
  <p id="clock">{{ myDate | amDateFormat: 'ddd Do HH:mm:ss' }}</p>

  <button id="home" mat-button (click)="swapContentHome()"> Home</button>
  <button id="bio" mat-button (click)="swapContentBio()"> Bio</button>
  <button id="resume" mat-button (click)="swapContentResume()"> Resume</button>
  <button id="contact" mat-button (click)="swapContentContact()"> Contact</button>

</mat-toolbar>

<mat-card *ngIf="home">
  this is a test
</mat-card>

<mat-card *ngIf="bio">
  another test
</mat-card>

<mat-card *ngIf="resume">
  <table id="skillContainer">
    <td id ="leftContainer">
      <table id="skillset">
        <th id="skills" colspan="3" style="text-align: center; text-decoration: underline;"> Current up-to-date
          skillset
        </th>
        <tr>
          <td>
            Javascript
          </td>
          <td>
            Java
          </td>
          <td>
            SQL
          </td>
        </tr>
        <tr>
          <td>
            JQuery
          </td>
          <td>
            HTML5
          </td>
          <td>
            CSS
          </td>
        </tr>
      </table>
    </td>
  <div></div>
    <td id="rightContainer">
      <table id="frameEnvironments">
        <th id="frameworks" colspan="3" style="text-align: center; text-decoration:underline;">
          Frameworks/Environments
        </th>
        <tr>
          <td>
            Angular2
          </td>
          <td>
            WebLogic
          </td>
          <td>
            Spring
          </td>
        </tr>
        <tr>
          <td>
            Eclipse
          </td>
          <td>
            IntelliJ
          </td>
          <td>
            KendoUI
          </td>
        </tr>
      </table>
    </td>
  </table>
  <ul class="first">
    <li><b> Junior Software Developer</b></li>
    - FedEx 2017 <br/>
    <a>Worked primarily with Javascript, Jquery, Java, and SQL to create a UI that supported the planning section of
      FedEx.</a>
  </ul>
</mat-card>

<mat-card *ngIf="contact">
  <form [formGroup]="calcForm" (ngSubmit)="calculateWeight()">
    <input formControlName="weightCalculate" placeholder="Target Weight">
    <button id="calculateWeight">Calculate</button>
  </form>
    <table class=plateNumber>
      <tr>
        <td>45lb plates</td>
        <td>{{fortyFives}}</td>
      </tr>
      <tr>
        <td>25lb plates</td>
        <td>{{twentyFives}}</td>
      </tr>
      <tr>
        <td>10lb plates</td>
        <td>{{tens}}</td>
      </tr>
      <tr>
        <td>5lb plates</td>
        <td>{{fives}}</td>
      </tr>
      <tr>
        <td>2.5lb plates</td>
        <td>{{twoPointFives}}</td>
      </tr>
    </table>
</mat-card>
