mat-card{
  left:8%;
  margin-top:10%;
  width:80%;
}

.calculatorGym{
  top: 20%;
}
#nav{
  color:white;
  display: inline-table;
  margin:auto;
}


#calculateWeight{
  background: white;
}

#weightForm{
  border: solid;
  width: 20%;
  padding:10px;
}
.first{
  display:list-item;
  list-style-type: circle;
}

td{
  padding:10px;
  border:solid;
  color:black;
}

li{
  display:inline-table;
  margin-left:20px;
  margin-top:40px;

}

li a{
  display:block;
  padding:5px 20px;
}

button{
  margin-left: 12%;
  background-color:#24292e;

}

.buttonContainer{
  text-align:center;
  margin-top:3%;

}

@media only screen and (max-width: 768px){

  button{
    margin-left:0;
    background-color:#24292e;
  }

}
