mat-card{
  left:8%;
  margin-top:10%;
  width:80%;
}

.calculatorGym{
  top: 20%;
}
#nav{
  color:white;
  display: inline-table;
  margin:auto;
}


#calculateWeight{
  background: white;
}

#weightForm{
  border: solid;
  width: 20%;
  padding:10px;
}
.first{
  display:list-item;
  list-style-type: circle;
}

td{
  padding:10px;
  border:solid;
  color:black;
}

li{
  display:inline-table;
  margin-left:20px;
  margin-top:40px;

}

li a{
  display:block;
  padding:5px 20px;
}

button{
  background-color:#24292e;
}

.buttonContainer{
  display:flex;
  justify-content: center;
  align-items:stretch;
}

@media only screen and (max-width: 768px){

  button{
    background-color:#24292e;
  }

}
