<mat-card class="resume">

  <div id="profile">Team player software engineer with a can-do attitude, phenomenal time management skills,
    and a strong user focus.
  </div>
  <br>
  <div id="skills">Advanced knowledge of front-end web development and design. Languages included Javascript, Java, JQuery, SQL
    -
    with knowledge of supporting frameworks such as Angular2, React, Vue, KendoUI.
  </div>
  <ul class="first">
    <li><b>Junior Software Developer | FedEx 2017 - present</b></li>
    <a>Worked primarily with Javascript, JQuery, Java, and SQL to create a UI that supported the planning section of
      FedEx.</a>
    <br>
    <li><b> Freelance Web Developer | 2016 - present</b></li>
    <a>Began web development making gaming websites for friends and games I have played, which introduced me into
      application development. Furthering my development, I have created online stores - and supported multiple
      businesses in the mid-south.</a>


  </ul>
</mat-card>
